h1 {
    color:green;
    font-size: 40px;
    text-align: center;
    margin: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   

}

.box-1 {
    background-color: lightgreen;
    margin: 5px 30px;
    text-align: center;
    font-weight: 50;
    text-transform: uppercase;
    border: 3px none seagreen;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    
    
}

img  {

    size: 300px;
    width: 1000px;

   

}

#tuktuk {
    margin: 5px 30px;
    width: 400px;
}



p {
    color: green;
    font-size: 20pt;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1em;
    

}


.box-2 {
    background-color: lightgreen;
    margin: 20px 30px;
    padding-top: 1.3em;
    padding-left: 2em;
    padding-right: 1.3em;
    padding-bottom: 1.3em;
    text-align: left;
    border: 3px none;
    font-size:16px;


    
}
   


iframe{
    margin: 30px;
    width:1000px
    
}



ul {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px;
    list-style-type: none;
    padding: 0;
    




}

.categories li {
    padding-bottom: 10px;
    border-bottom: none 1px;
    display: inline;
    margin: 20px 30px;
    border: 3px;
    
    
   
}

body {


    background-color: lightyellow;

}


.box-3 { 
    background-color: none ;
    padding: 1.3em;
    border: 1px dotted orange;
    margin: 20px 30px;
    text-align: left;
    font-weight: normal;
    


}

.box-4 {
    margin: 20px 30 px;
    width: 300px;
    

}

.figure p { 
    float: center;
    width: 10%;
    margin: 5px 30 px;
    padding: 1.3em;
    image-resolution: 300dpi;
    



}

h2 {
    color: green;
}


a {
    margin:30px;
    text-decoration: none;
    color: green;
    
}

li a:hover {
    
    color:lightyellow;

}

a:active {


    color: lightyellow;
}

li a:visited {
    color: green;

}

li a{
    display:inline;
    margin: 0;
    padding: 0;
    overflow: hidden;


}

footer {
    margin: 30px;
  
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    img{
        height: auto;
        max-width: 100%;
        }
        iframe{
            height:auto;
            max-width: 100%;
        
            
        }
        
        .box-4{
            height:auto;
            max-width: 100% ;
        }
        body{
            background-color: lightyellow;
        }
        h1{
            color:green;
    font-size: 40px;
    text-align: center;
    margin: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

        }
        h2{
            color:green;
            letter-spacing: 0.05em;

        }

        p{
            color: green;
            font-size: 20pt;
            text-align:left;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: normal;
            line-height: 1em;
         letter-spacing: 0.05em;
         word-spacing: 0.03em;
            


        }

        ul{
            color:green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px;
    list-style-type: none;
    
        }


#tuktuk {
    margin: 5px 30px;
    width: 400px;
}
    

}

        
@media (min-width: 1024px) {
    body{
        background-color: lightyellow;
    }
    img{
        height: auto;
        max-width: 100%;
        }

        
            
        

}
    
        
    


